body {
    font-family: Arial, sans-serif;
    background-color: black;  /* Set background to black */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;  /* Text color white to contrast with the black background */
}

.form-container {
    background-color: #333333; /* Set form background to a dark gray */
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #ffe400;
    margin-bottom: 20px;
}

.email-label,
.password-label{
    display: block !important;
    margin-top: 20px !important;
}

.email{
    width: 100%;
    padding: 10px;
    margin-top: 5px;  
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
    background-color: rgb(248, 239, 239);
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.password{
    width: 100%;
    padding: 10px;
    margin-top: 5px;  
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
    background-color: rgb(248, 239, 239);
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 15px;
}

button {
    width: 100%;  /* Ensure button takes up full width */
    padding: 12px;
    background-color: #ffe400;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;    
    font-weight: bold;
    box-sizing: border-box;  
    margin-bottom: 20px;
    margin-top: 25px;
}

